__pycache__
__pycache__/
*.py[cod]
*$py.class
*.pyc
src/*.pyc

# Python bytecode files
__pycache__/
*.py[cod]
*$py.class


aspera.openssh
dbh_config.json
src/sra_metagenome_submission/__pycache__/_version.cpython-312.pyc
